[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic = "*"
langgraph = "*"
speechrecognition = "*"
openai = "*"
python-dotenv = "*"
uvicorn = {extras = ["standard"], version = "*"}
websockets = "*"
pypdf2 = "*"
openpyxl = "*"
pandas = "*"
python-multipart = ">=0.0.18"
alembic = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
mcp = "*"
fastapi = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.13"
